<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <alert></alert>
            <div style="padding-top:20px ">
                <h2>
                    Register</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="Name">First Name</label>
                        <input type="text" formControlName="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" />
                        <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                            <div *ngIf="f.Name.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Surname">Surname</label>
                        <input type="text" formControlName="Surname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Surname.errors }" />
                        <div *ngIf="submitted && f.Surname.errors" class="invalid-feedback">
                            <div *ngIf="f.Surname.errors.required">Surname is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="email" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
                        <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                            <div *ngIf="f.Email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="HashedPassword">Password</label>
                        <input type="password" formControlName="HashedPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.HashedPassword.errors }" />
                        <div *ngIf="submitted && f.HashedPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.HashedPassword.errors.required">HashedPassword is required</div>
                            <div *ngIf="f.HashedPassword.errors.minlength">HashedPassword must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
                        <a routerLink="/login" class="btn btn-link">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>