<!-- nav -->


<!-- main app container -->
<div style="padding: 0px; min-height: 1400px; position: relative;" class="jumbotron">
    <router-outlet></router-outlet>


</div>

<!-- credits -->
<!--div class="text-center">
<p>
    <a href="https://jasonwatmore.com/post/2019/06/10/angular-8-user-registration-and-login-example-tutorial" target="_top">Angular 8 - User Registration and Login Example & Tutorial</a>
</p>
<p>
    <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
</p>
</div-->